<div class="{{popoverClass}}">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Character</th>
                <th class="text-center"><i class="fas fa-fw fa-crosshairs" title="Track"></i></th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {{#userData.character}}
        <tr class="active">
            <td><img src="{{image}}" alt="{{name}}"></td>
            <td>{{name}} <small class="text-muted">(current)</small></td>
            <td class="text-center">
                <input type="checkbox" class="pf-character-tracking-checkbox pf-current-character-tracking" data-character-id="{{id}}" data-character-name="{{name}}" title="track current character" checked>
            </td>
            <td></td>
        </tr>
        {{/userData.character}}
        {{#otherCharacters}}
        <tr>
            <td><img src="{{image}}" alt="{{name}}"></td>
            <td>{{name}}</td>
            <td class="text-center">
                <input type="checkbox" class="pf-character-tracking-checkbox" data-character-id="{{id}}" data-character-name="{{name}}" title="track character">
            </td>
            <td class="text-right text-nowrap">
                <a class="btn btn-sm btn-default" href="{{routes.ssoLogin}}?characterId={{id}}" target="_blank" title="new tab" rel="noopener">
                    <i class="fas fa-fw fa-external-link-alt"></i>
                </a>
                <a class="btn btn-sm btn-primary" href="{{routes.ssoLogin}}?characterId={{id}}&tabId={{browserTabId}}" target="_self" title="switch&nbsp;character">
                    <i class="fas fa-fw fa-exchange-alt"></i>
                </a>
            </td>
        </tr>
        {{/otherCharacters}}
        <tr>
            <td></td>
            <td>add more</td>
            <td></td>
            <td class="text-right text-nowrap">
                <a class="btn btn-sm btn-success" href="{{routes.ssoLogin}}?characterId=-1&tabId={{browserTabId}}" target="_self">
                    <i class="fas fa-fw fa-user-plus"></i>&nbsp;&nbsp;
                    new character
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>